.centered-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  
    ion-button {
      flex: 0 0 auto;
      margin: 5px;
  
      ion-label {
        display: block;
      }
    }
  }
  
  @media screen and (max-width: 414px) {
    .centered-buttons {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .centered-buttons ion-button:nth-child(2) {
      order: 3;
    }
  
    .centered-buttons ion-button:nth-child(3) {
      order: 2;
    }
  }
  