<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="title" align="center">
      Cerbung Read {{this.current_user.user_id}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Read</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="cerbung-profile">
    <ion-card class="cerbung-image">
      <ion-img src={{cerbungs.cerbung_display_picture}} alt={{cerbungs.cerbung_display_picture}}>
      </ion-img>
    </ion-card>
    <ion-card-title>
      {{cerbungs.cerbung_title}}
    </ion-card-title>

    <div class="counters">
      <ion-chip [outline]="true">
        <ion-icon aria-hidden="true" name="list"></ion-icon>
        <ion-label>{{cerbungs.cerbung_contribution_count}}</ion-label>
      </ion-chip>
      <ion-chip [outline]="true">
        <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
        <ion-label>{{cerbungs.cerbung_like}}</ion-label>
      </ion-chip>
    </div>
    <div id="chips">
      <ion-chip [outline]="true">
        <ion-label type="floating">{{cerbungs.genre_name}}</ion-label>
      </ion-chip>

      <ion-chip [outline]="true" *ngIf="this.isCerbungRestricted == true">
        <ion-label type="floating">
          Restricted
        </ion-label>
      </ion-chip>
      <ion-chip [outline]="true" *ngIf="this.isCerbungRestricted == false">
        <ion-label type="floating">
          Public
        </ion-label>
      </ion-chip>
    </div>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button
        (click)="updateLikeCerbung(cerbungs.user_like_cerbung)">
          <ion-icon
            [name]="cerbungs.user_like_cerbung === 1 ? 'heart' : 'heart-outline'"
            size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item class="cerbung-profile-subtitles">
      <ion-card-subtitle slot="start">by
        {{cerbungs.user_username}}</ion-card-subtitle>
      <ion-card-subtitle
        slot="end">{{cerbungs.cerbung_created_date}}</ion-card-subtitle>
    </ion-item>
  </ion-card>

  <div class="cerbung-submission">
    <ion-card class="paragraph" *ngFor="let contribution of getParagraphs()">
      <ion-item>
        {{contribution.contribution_paragraph}}
      </ion-item>
      <ion-item>
        <!-- <ion-avatar slot="start">
          <img
            alt="{{cerbungs.contribution.author}} avatar"
            src={{cerbungs.contribution.avatar_url}} />
        </ion-avatar> -->
        <ion-label>{{contribution.user_username}}</ion-label>

        <ion-buttons slot="end">
          <ion-button
          (click)="updateLikeContribution(contribution.user_like_contribution, contribution.contribution_id)">
            <ion-icon
              [name]="contribution.user_like_contribution === 1 ? 'heart' : 'heart-outline'"
              size="large"></ion-icon>
          </ion-button>
          <!-- <ion-button>
            <ion-icon
              name="heart-outline"
              size="large"></ion-icon>
          </ion-button> -->
        </ion-buttons>
      </ion-item>
    </ion-card>
  </div>

  <div class="create-cerbung-contribution">
    <ion-textarea
      *ngIf="isRestricted == true"
      [(ngModel)]="new_paragraph"
      label="Continue the Story"
      labelPlacement="stacked"
      fill="outline"
      auto-grow="true"
      counter="true"
      maxLength=350
      [counterFormatter]="customCounterFormatter"
      [disabled]="isRestricted"
      placeholder="This cerbung is restricted. Request permission to contribute from author">
    </ion-textarea>

    <ion-textarea
      *ngIf="isRestricted == false"
      [(ngModel)]="new_paragraph"
      label="Continue the Story"
      labelPlacement="stacked"
      fill="outline"
      auto-grow="true"
      counter="true"
      maxLength=350
      [counterFormatter]="customCounterFormatter"
      [disabled]="isRestricted"
      placeholder="Add new Paragraph">
    </ion-textarea>
  </div>

  <div class="cerbung-interactions">
    <ion-grid>

      <ion-row>

        <ion-col>
          <ion-button
            [fill]="cerbungs.user_follow_cerbung === 1 ? 'solid' : 'outline'"
            color="dark"
            (click)="updateFollowCerbung(cerbungs.user_follow_cerbung)">
            <ion-icon name="add-outline"></ion-icon>
            <ion-label>{{ cerbungs.user_follow_cerbung === 1 ? 'Followed' :
              'Follow' }}</ion-label>
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-end">

          <ion-button
            fill="outline"
            color="dark"
            (click)="createPermissionRequest()"
            *ngIf="isRestricted == true">
            <ion-icon name="add-outline"></ion-icon>
            <ion-label>Request to Contribute</ion-label>
          </ion-button>


          <ion-button
            fill="outline"
            color="dark"
            (click)="createCerbungContribution()"
            *ngIf="isRestricted == false">
            <ion-icon name="add-outline"></ion-icon>
            <ion-label>Submit Contribution</ion-label>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

</ion-content>