<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification/">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="title" align="center">
      Cerbung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Cerbung</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="chips">
    <ion-chip [outline]="true">
      <ion-label type="floating">All</ion-label>
    </ion-chip>
    <ion-chip [outline]="true" *ngFor="let genre of genrelist">
      <ion-label type="floating">{{genre.genre_name}}</ion-label>
    </ion-chip>
  </div>

  <div id="cards">
    <ion-list>

      <ion-card *ngFor="let cerbung of cerbungs;" 
      routerLink="/read/{{cerbung.cerbung_id}}">
        <ion-img
          src={{cerbung.cerbung_display_picture}}
          alt={{cerbung.cerbung_display_picture}}>
        </ion-img>
        <ion-card-header>
          <ion-card-title>
            {{cerbung.cerbung_title}}
          </ion-card-title>
          <ion-card-subtitle>
            by {{cerbung.user_username}}
          </ion-card-subtitle>

          <div class="counters">
            <ion-chip [outline]="true">
              <ion-icon aria-hidden="true" name="list"></ion-icon>
              <ion-label>{{cerbung.cerbung_contribution_count}}</ion-label>
            </ion-chip>
            <ion-chip [outline]="true">
              <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
              <ion-label>{{cerbung.cerbung_like}}</ion-label>
            </ion-chip>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              {{cerbung.cerbung_description}}
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
