<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title" allign="center">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div id="input">
      <ion-input [(ngModel)]="username"
        name="username"
        label="Username"
        labelPlacement="stacked"
        fill="outline">
      </ion-input>

      <ion-input [(ngModel)]="password"
        name="password"
        type="password"
        label="Password"
        labelPlacement="stacked"
        fill="outline">
      </ion-input>
    </div>
    
    <footer>
      <ion-button
        id="button-login"
        expand="block"
        fill="solid"
        (click)="onLogin()">
        Login
      </ion-button>
      <ion-button
        id="button-signup"
        expand="block"
        fill="outline"
        (click)="goToSignUp()">
        Sign Up
      </ion-button>
    </footer>

  </ion-content>
</ion-content>
