<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification/">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="title">
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="viewType">
    <ion-segment-button value="mostliked">
      <ion-label>Most Liked</ion-label>
    </ion-segment-button>
    <ion-segment-button value="following">
      <ion-label>Following</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div id="container">
    <div id="cards" *ngIf="viewType==='mostliked'">
      <ion-card *ngFor="let writer of writers;" routerLink="/accountview/{{writer.user_id}}">
        <ion-card-header>
          <ion-avatar>
            <img alt={{writer.user_profile_picture}} src={{writer.user_profile_picture}} />
          </ion-avatar>
          <ion-card-title>{{writer.user_username}}</ion-card-title>
          <ion-card-subtitle>Since : {{writer.user_created_date}}</ion-card-subtitle>
          <ion-card-subtitle style="font-weight: bold;">Exceeding the amount of likes your heart can give</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngIf="viewType==='following'">
      <ion-card *ngFor="let writer of writers;"  routerLink="/accountview/{{writer.user_id}}">
        <ion-card-header>
          <ion-avatar>
            <img alt={{writer.user_profile_picture}} src={{writer.user_profile_picture}} />
          </ion-avatar>
          <ion-card-title>{{writer.user_username}}</ion-card-title>
          <ion-card-subtitle>Since : {{writer.user_created_date}}</ion-card-subtitle>
          <ion-card-subtitle style="font-weight: bold;">Exceeding the amount of likes your heart can give</ion-card-subtitle>
          <ion-card-subtitle>Last Update : A Long Tamago</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

  </div>
</ion-content>